.index-main .coloums {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 15px;
}
.index-main .coloums .cols-fl {
  float: left;
  width: 230px;
  border-top: 5px solid #c5558b;
  padding: 0 5px 100px 5px;
  text-align: center;
  background-color: white;
}
.index-main .coloums .cols-fl .col-fl-head {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold ;
  border-bottom: 1px solid #cccccc;
}
.index-main .coloums .cols-fl .col-fl-cols {
  padding-left: 64px;
}
.index-main .coloums .cols-fl .col-fl-cols .cols-ad {
  border-left: 1px solid #ccc;
  height: 50px;
  line-height: 50px;
  text-align: left;
  padding-left: 15px;
  font-size: 16px;
  position: relative;
}
.index-main .coloums .cols-fl .col-fl-cols .cols-ad a {
  display: block;
}
.index-main .coloums .cols-fl .col-fl-cols .cols-ad .col-img {
  position: absolute;
  left: -4px;
  top: 21px;
  display: block;
}
.index-main .coloums .cols-fl .col-fl-cols .cols-ad .cols-act {
  left: -7px;
  top: 18px;
}
.index-main .coloums .cols-fr {
  float: right;
  width: 730px;
  padding: 0 10px 100px 10px;
  background-color: white;
}
.index-main .coloums .cols-fr .col-fr-head {
  height: 53px;
  border-bottom: 1px solid #ccc;
  line-height: 53px;
}
.index-main .coloums .cols-fr .col-fr-head .li-head-fl {
  float: left;
  color: #c5558b;
  font-size: 14px;
  font-weight: bold;
}
.index-main .coloums .cols-fr .col-fr-head .li-head-fr {
  float: right;
  color: #757575;
  font-size: 12px;
}
.index-main .coloums .cols-fr ul {
  display: block;
}
.index-main .coloums .cols-fr ul li {
  font-size: 12px;
  border-bottom: 1px dashed #6c6c6c;
  height: 42px;
  line-height: 42px;
}
.index-main .coloums .cols-fr ul li a {
  display: block;
  height: 42px;
  width: 100%;
}
.index-main .coloums .cols-fr ul li a .text {
  float: left;
  width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #6c6c6c;
  height: 42px;
  line-height: 42px;
}
.index-main .coloums .cols-fr ul li a .text-date {
  float: left;
  width: 30%;
  color: #9c9c9c;
  text-align: right;
  height: 42px;
  line-height: 42px;
}