.index-main .other-head {
  height: 80px;
  width: 100%;
  line-height: 80px;
  color: #000;
  font-size: 36px;
  border-bottom: 1px solid #a3a3a3;
  background-color: #f2f2f2;
}
.index-main .other-head .head-body {
  width: 1200px;
  margin: 0 auto;
}
.index-main .other-head .head-body .ti-fl {
  float: left;
}
.index-main .other-head .head-body .tr-fr {
  float: right;
}
.index-main .other-head .head-body .tr-fr a {
  display: block;
  float: left;
  color: #000;
  font-size: 16px;
  padding: 0 45px;
}
.index-main .other-head .head-body .tr-fr a:hover {
  background-color: #000;
  color: white;
}


.really-head .head-body {
  width: 1200px;
  margin: 0 auto;
}
.really-head .head-body .ti-fl {
  float: left;
}
.really-head .head-body .tr-fr {
  float: right;
}
.really-head .head-body .tr-fr a {
  display: block;
  float: left;
  color: #000;
  font-size: 16px;
  padding: 0 45px;
}
.really-head .head-body .tr-fr a:hover {
  background-color: #000;
  color: white;
}

.really-head {
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 80px;
  color: #000;
  z-index: 20;
  font-size: 36px;
  font-family: "Microsoft YaHei";
  background-color: white;
  display: none;
}